.price {
    display: flex;
    justify-content: space-between;
    color: #515076;
    font-size: 20px;
    line-height: 24px;
}

.price__cost {
    font-weight: 700;
}

.price__amount {
    font-weight: 400;
}

